body {
    font-family: "Roboto", sans-serif;
    /* Default font properties */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

:root {
    --color-brand-light: #f4f4fd;
    --color-footer: #4d5ae5;
    --color-modal-info: #2e2f42;
    --color-modal-form-label: #8e8f99;
}

/****** container :default *******/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header */
/* region Logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-dark {
    color: #2e2f42;
}

.footer .logo {
}

[href="./index.html"] {
    color: #2e2f42;
}

.nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.nav-address-link {
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-link:hover,
.nav-address-link:focus {
    color: #404bbf;
}


.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin-right: 76px;
}

.nav-list-link.current {
    color: #404bbf;
}

.nav-list-link.current::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item {
    display: flex;
    gap: 40px;
}

.nav-list-link .nav-address-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item .page-header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
}

.nav-address {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-item {
    display: flex;
}

/*===========Hero========== */
.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
}

.hero-container {
    padding: 188px 0;
    text-align: center;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* -----------features-section---------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    color: #ffffff;
}

.features-section {
    background-color: #ffffff;
    padding: 120px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    flex-direction: row;
}

.features-item {

}

.features-svg {
    display: flex;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 8px;
}

.features-text {
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-wrap: wrap;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.icon-light {
    fill: var(--color-brand-light);
}

.team-title-main {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.team-container {
    display: block;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.job-title {
    padding: 32px 0;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding: 8px 0;
}

/* ===========section 4================== */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .card-overlay {
    transform: translateY(0);
}

.project-tool {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-category {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #Footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.logo-light {
    color: #f4f4fd;
}

.footer-block {
    margin-right: 120px;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-list-dark {
    display: flex;
    gap: 16px;
}

.social-block-item {
    width: 40px;
    height: 40px;
}

.social-icon-link.social-icon-link-dark {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-footer);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link.social-icon-link-dark:hover,
.social-icon-link.social-icon-link-dark:focus {
    background-color: #31d0aa;
}

.icon-social.social-dark {
    width: 24px;
    height: 24px;
    fill: var(--color-brand-light);
    display: flex;
    gap: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-subscribe {
    margin-left: 80px;
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    color: #fff;
    background: #4d5ae5;
    min-width: 165px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
}

.btn-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-form.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input.placeholder {
    color: #ffffff;
}

/* #footer end */

/* #region Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    /* приховуємо елемент */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-info {
    font-weight: 500;
    text-align: center;
    color: var(--color-modal-info);
    margin-bottom: 16px;
}

.modal-form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-form-field.last-child {
    margin-bottom: 16px;
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
}

.btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
    fill: #ffffff;
}

.modal-form-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 4px;
    color: var(--color-modal-form-label);
}

.modal-form-wraper {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    background-color: transparent;
    line-height: 2;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: #2e2f42;
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-field:last-child {
    margin-bottom: 16px;
}

.modal-form-accept {
    margin-bottom: 24px;
}

.modal-form-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
}

.custom-checkbox {
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.checkbox-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .modal-form-box > .custom-checkbox {
    border: none;
    fill: var(--color-brand-light);
    background-color: #404bbf;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4d5ae5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
    border-color: #4d5ae5;
}

.modal-form-comment.placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #region Modal window end*/
